includes:
	- vendor/pepakriz/phpstan-exception-rules/extension.neon

parameters:
	level: max
	paths:
		- src
		- examples
#		- tests


	exceptionRules:
		reportUnusedCatchesOfUncheckedExceptions: true
		reportUnusedCheckedThrowsInSubtypes: false
		reportCheckedThrowsInGlobalScope: true
		checkedExceptions:
			- RuntimeException

	treatPhpDocTypesAsCertain: false





