includes:
	- vendor/pepakriz/phpstan-exception-rules/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: max
	paths:
		- src
		- examples
#		- tests

	treatPhpDocTypesAsCertain: false
	checkMissingIterableValueType: true
	checkGenericClassInNonGenericObjectType: false
	reportUnmatchedIgnoredErrors: false
	
	# Better type checking (compatible with PHPStan 0.12)
	checkAlwaysTrueCheckTypeFunctionCall: true
	checkAlwaysTrueInstanceof: true
	checkAlwaysTrueStrictComparison: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	
	# Exception rules
	exceptionRules:
		reportUnusedCatchesOfUncheckedExceptions: true
		reportUnusedCheckedThrowsInSubtypes: false
		reportCheckedThrowsInGlobalScope: true
		checkedExceptions:
			- RuntimeException
			
	# Ignore some legacy driver issues for now
	ignoreErrors:
		- '#Only booleans are allowed in#'
		- '#Call to function in_array\(\) requires parameter \#3 to be set#'
		- '#Anonymous function should have native return typehint#'





